:root{
    --background-color: #e4ddc5;
    --primary-color: #df771c;
    --secondary-color: #762123;
    --title-font: "Montserrat", sans-serif;
    --text-font: "Lato", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

/* General */
body{
    font-family: var(--text-font);
}
main, section{
    width: 98%;
    margin: 80px auto 0 auto;
}

/* Header */
header{
    position: fixed;
    top: 0;
    z-index: 5;
    display: inline-flex;
    background-color: var(--background-color);
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.logo{
    padding: 0 10px;
    width: 40px;
    height: 40px;
}
.logo a:active{
    text-decoration: none;
    outline: none;
}
.logo svg path:last-child{
    fill: #9D963A;
}
.logo svg path:first-child{
    fill: #df771c;
}
.nav_toggle{
    border: none;
    width: 50px;
    height: 50px;
    padding: 0 10px;
    background: none;
    outline: none;
}
.nav_toggle svg{
    width: 100%;
    height: 100%;
}

/* Navigation */
.nav{
    position: absolute;
    display: flex;
    background-color: var(--primary-color);
    width: 100%;
    flex-direction: column;
    align-items: center;
    top: 60px;
    height: 0;
    overflow: hidden;
    transition: ease height 0.5s;
}
.show_nav{
    height: 200px;
    transition: ease height 0.5s;
}
.nav_item{
    text-decoration: none;
    padding: 15px 0;
    font-weight: bold;
    color: #fff;
}
.social{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.social_item{
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
}
.social_item svg{
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.social .social_item svg path{
    fill: #fff;
}

/* Filter-list */
.filter_list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin: 10px auto;
}
.tab{
    width: 25%;
    text-align: center;
    border: #c2c2c2 1px solid;
    padding: 5px 10px;
    margin: 3px 0;
}
.current{
    background: var(--primary-color);
    border: var(--primary-color) 1px solid;
    color: #fff;
}

/* Catalogo_List */
.catalogo_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
}
.card_product{
    display: none;
    max-width: 50%;
    text-align: center;
}
.card_product img{
    width: 100%;
    height: auto;
}
.card_product .card_name{
    font-weight: normal;
}
.card_product .card_price{
    font-weight: bold;
}
.show_filter{
    display: block;
}

/* Modal Product */
section{
    max-width: 95%;
}
.product_modal{
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.show_modal{
    opacity: 1;
    pointer-events: auto;
    visibility: visible; 
}
.header_modal{
    height: 50px;
    width: 100%;
    background-color: var(--primary-color);
    display: inline-flex;
    align-items: center;
    justify-content: left;
}
.close_modal{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.close_modal svg path{
    fill: #fff;
}
.splide{
    width: 100%;
    height: auto;
}
.splide__slide img{
    width: 100%;
    height: auto;
}
.modal_content{
    margin: 10px auto 0 auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
}
.modal_content p{
    margin-top: 5px;
}
.modal_name{
    font-weight: normal;
}
.modal_price{
    font-weight: bold;
}
/* Section*/
.title{
    font-family: var(--title-font);
    font-weight: bold;
    color: var(--primary-color);
    margin: 10px 0;
}
.contact_social{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.contact_social a{
    margin-top: 10px;
    display: flex;
    text-decoration: none;
    align-items: center;
}
.contact_social a svg{
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.contact_social a p{
    color: #000;
}

.contact_social a svg path{
    fill: var(--secondary-color);
}

/* Media Queries*/
@media (min-width: 900px) {
    .nav_toggle {
      display: none;
    }
}